.card {
	background-color: $white;
	width: 20.43775rem;
	border-radius: 1rem;
	box-shadow: 0px 0.625rem 2rem 0.4em rgba($color: $darkBlue, $alpha: 0.15);

	@include breakpoint-up(medium) {
		width: 28.125rem;
	}

	&__image {
		border-radius: 1rem 1rem 0 0;
		height: 10rem;
		background-image: url("/images/illustration-hero.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		@include breakpoint-up(medium) {
			height: 13.75rem;
		}
	}

	&__text {
		text-align: center;
		margin-bottom: 1.5rem;

		@include breakpoint-up(medium) {
			margin-bottom: 1.5rem;
		}

		h1 {
			color: $darkBlue;
			font-size: $font-lg;
			font-weight: 900;
			margin-bottom: 0.8rem;

			@include breakpoint-up(large) {
				font-size: $font-xlg;
				margin-bottom: 1rem;
			}
		}

		p {
			font-size: $font-md;
			font-weight: 500;
			color: $desaturatedBlue;

			@include breakpoint-down(small) {
				padding: 0 1rem;
			}
		}
	}

	&__info {
		background-color: $veryPaleBlue;
		display: flex;
		align-items: center;
		padding: 1rem 1rem;
		border-radius: 0.8rem;
		margin-bottom: 1.5rem;

		@include breakpoint-up(medium) {
			margin-bottom: 2rem;
			padding: 1.5625rem 1.5625rem;
		}

		.icon {
			width: 3rem;
			height: 3rem;
			background-image: url("/images/icon-music.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			margin-right: 1.3125rem;
		}

		.info {
			display: flex;
			flex-direction: column;
			margin-right: 3.1875rem;

			h2 {
				font-size: $font-sm;
				font-weight: 900;
				color: $darkBlue;

				@include breakpoint-up(medium) {
					font-size: $font-md;
				}
			}

			p {
				font-size: $font-sm;
				font-weight: 500;
				color: $desaturatedBlue;

				@include breakpoint-up(medium) {
					font-size: $font-md;
				}
			}

			@include breakpoint-up(medium) {
				margin-right: 6rem;
			}
		}

		a {
			font-size: $font-sm;
			font-weight: 700;
			color: $brightBlue;
			text-decoration: underline;

			@include breakpoint-up(large) {
				& {
					transition: all 300ms ease-in-out;

					&:hover {
						opacity: 0.75;
						text-decoration: none;
					}
				}
			}
		}
	}

	&__cta {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1.5rem;

		a {
			text-decoration: none;
		}

		@include breakpoint-up(medium) {
			margin-bottom: 2rem;
		}
	}

	&__cancel {
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			color: $desaturatedBlue;
			font-size: $font-md;
			font-weight: 700;
			text-decoration: none;

			@include breakpoint-up(large) {
				& {
					transition: all 150ms ease-in-out;

					&:hover {
						color: $darkBlue;
						font-weight: 900;
					}
				}
			}
		}
	}
}
