.card {
	background-color: $veryPaleBlue;
	width: 20.43775rem;
	border-radius: 1rem;

	@include breakpoint-up(medium) {
		width: 28.125rem;
	}

	&__image {
		border-radius: 1rem 1rem 0 0;
		height: 10rem;
		background-image: url("/images/illustration-hero.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		@include breakpoint-up(medium) {
			height: 13.75rem;
		}
	}

	&__text {
		text-align: center;
		padding: 2.5rem 2.5rem 1.875rem 2.5rem;

		@include breakpoint-up(medium) {
			padding: 2.375rem 4.5rem 1.875rem 4.5rem;
		}

		h1 {
			color: $darkBlue;
			font-size: $font-lg;
			font-weight: 900;
			margin-bottom: 1.875rem;
		}

		p {
			font-size: $font-md;
			color: $desaturatedBlue;
		}
	}
}
