// COLORS

// Primary
$paleBlue: #e0e8ff;
$brightBlue: #3829e0;

// Neutral
$veryPaleBlue: #f5f7ff;
$desaturatedBlue: #7280a7;
$darkBlue: #1f2f56;
$white: #ffffff;

// TYPOGRAPHY

$font-sm: 0.75rem; // 14px
$font-md: 1rem; // 16px
$font-lg: 1.375rem; // 22px
$font-xlg: 1.75rem; // 28px
